# Task - 1

Write a Python function calculate_area that takes two parameters: length and width. It
should calculate and return the area of a rectangle. However, add a condition: if the length
is equal to the width, return "This is a square!" instead of the area. Then, write a program to
input values for length and width from the user and call the calculate_area function to
display either the area or the message.

In [1]:
def calculate_area(length, width):
    if length == width:
        return "This is a square!"
    else:
        return length * width


length = float(input("Enter the length: "))
width = float(input("Enter the width: "))
ans = calculate_area(length, width)
if type(ans)!= str:
    print("Area:",ans)
else:
    print(ans)

Enter the length: 4
Enter the width: 5
Area: 20.0

# Task 2

Problem Statement:
Write a Python program that generates the Fibonacci sequence up to a specified number of
terms, n. The Fibonacci sequence starts with 0 and 1, and each subsequent number in the
sequence is the sum of the two preceding numbers (e.g., 0, 1, 1, 2, 3, 5, 8, ...). Prompt the
user to enter the number of terms (n) they want in the sequence and then display the
Fibonacci sequence up to that number of terms.

In [2]:
def generate_fibonacci(n):
    fib_seq = [0, 1]
    if n == 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return fib_seq
    
    for i in range(2, n):
        new_number = fib_seq[-1] + fib_seq[-2]
        fib_seq.append(new_number)
    
    return fib_seq

n = int(input("Enter the number of terms: "))
fib_seq = generate_fibonacci(n)    
print("Fibonacci sequence up to", n, "terms:",fib_seq)

Enter the number of terms: 6
Fibonacci sequence up to 6 terms: [0, 1, 1, 2, 3, 5]

# Task- 3

Problem Statement:
Your task is to write a Python program that accomplishes the following:
First create a database , table and add these column ‘student_id’, ‘first_name’, ‘last_name’,
‘age’, ‘grade’.
Connects to your MySQL database with python.
Inserts a new student record into the "students" table with the following details:
First Name: "Alice"
Last Name: "Smith"
Age: 18
Grade: 95.5
Updates the grade of the student with the first name "Alice" to 97.0.
Deletes the student with the last name "Smith."
Fetches and displays all student records from the "students" table.

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.8/site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.19.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector as conn

In [5]:
mydb=conn.connect(host='localhost',user = 'root',passwd = 'MYmac30112001')

In [6]:
mydb

In [7]:
cursor = mydb.cursor()

In [8]:
cursor.execute('show databases')

In [9]:
cursor.fetchall()

[('CLASS',),
 ('CLIENT',),
 ('eia_test',),
 ('information_schema',),
 ('mysql',),
 ('ORG',),
 ('performance_schema',),
 ('practice_pyhton',),
 ('sales',),
 ('sql_lab',),
 ('sys',),
 ('Test_Python',),
 ('testsudhineuron',),
 ('testsudhineuron1',)]

In [10]:
## creating Database named - Test_Python
cursor.execute('create database Test_Python_Intern')

In [11]:
cursor.execute('use Test_Python_Intern')

In [12]:
cursor.execute('create Table student(student_id INT(10),first_name VARCHAR(30),last_name VARCHAR(30),age INT(5),grade FLOAT(10))')

In [13]:
cursor.execute("show tables")

In [14]:
cursor.fetchall()  ## we see table is created

[('student',)]

In [15]:
cursor.execute('insert into student values(001,"Alice","Smith",18,95.5)')

In [16]:
mydb.commit()

In [17]:
cursor.execute("select * from student")

In [18]:
cursor.fetchall()

[(1, 'Alice', 'Smith', 18, 95.5)]

In [19]:
## updating the grade
cursor.execute("UPDATE student SET grade = 97.0 WHERE first_name = 'Alice'")

In [20]:
mydb.commit()

In [21]:
cursor.execute("select * from student")

In [22]:
cursor.fetchall()

[(1, 'Alice', 'Smith', 18, 97.0)]

In [23]:
## observation - grade is updated

In [24]:
## deleting record with last_name as Smith
cursor.execute("DELETE FROM student WHERE last_name = 'Smith'")

In [25]:
mydb.commit()

In [26]:
## fetching records from table
cursor.execute("select * from student")

In [27]:
cursor.fetchall()

[]